<h1 class="about">About Us</h1>
<article>
  <p class="description">Australian National Character Check allows individuals and businesses to apply for a Nationally Coordinated Criminal History Check, which is commonly referred to as a police check. The police check can be used when applying for employment, volunteer work, appointment to positions of trust and a variety of Australian licensing and registration schemes.</p>
  <p class="description">We have created an innovative online solution to obtain police checks, allowing our customers to seamlessly complete a check within minutes, and at an affordable price.</p>
  <p class="description">Australian National Character Check is an accredited provider of Nationally Coordinated Criminal History Checks, Bankruptcy Checks and VEVO Checks.</p>
  <p class="description">Our processes integrate cutting edge technology to mitigate identity fraud and additionally provide high leveled layers of security for our customers, as our customers’ data security is an utmost priority. Australian National Character Check gained accreditation to conduct National Police History Checks and has since successfully created an efficient and affordable online solution for background checks. Our ABN is 29 621 712 598.</p>
</article>
