<div>
  form for customers
</div>

<form
  [formGroup]="form"
  (ngSubmit)="onSubmit(form.value)"
>
  <div id="basic-info">
    <div class="entry">
      <label for="name">
        Name:
      </label>
      <input id="name" type="text" formControlName="name">
    </div>

    <div class="entry">
      <label for="address">
        Address:
      </label>
      <input id="address" type="text" formControlName="address">
    </div>
    <div class="entry">
      <label for="passportId">
        Passport Id:
      </label>
      <input id="passportId" type="text" formControlName="passportId">
    </div>
   </div>
  <button type="submit">Submit</button>
  <button (click)="backToDashboard()">Back</button>
</form>



