
<div class="steps">
  <span class="step selected">Basic Information</span>
  <span class="step">Upload Passport Copy</span>
  <span class="step">Success</span>
</div>
<div class="form-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <form #f = "ngForm" class="form-horizontal">
          <span class="heading">Personal Information</span>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="NAME" name="name" [(ngModel)] = "selectedCustomer.name"
                   required pattern="^([a-zA-Z]+)(\s?)([a-zA-Z]*)$" #cusName="ngModel">
            <i class="fa fa-user"></i>
            <span class="text" *ngIf="cusName.errors?.required && cusName.touched">
              Name is required
            </span>
            <span class="text" *ngIf="cusName.errors?.pattern && cusName.touched">
              Name can only contain the letters a-z or A-Z and at most one space in the middle.
            </span>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="ADDRESS" name="address" [(ngModel)] = "selectedCustomer.address"
                   required #cusAddress="ngModel">
            <i class="fa fa-pencil fa-fw"></i>
            <span class="text" *ngIf="cusAddress.errors?.required && cusAddress.touched">
              Address is required.
            </span>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="PASSPORT ID" name="passportid" [(ngModel)] = "selectedCustomer.passportid"
                   required #cusPassportid="ngModel" pattern="[0-9]+">
            <i class="fa fa-book fa-fw"></i>
            <span class="text" *ngIf="cusPassportid.errors?.required && cusPassportid.touched">
              Passport ID is required.
            </span>
            <span class="text" *ngIf="cusPassportid.errors?.pattern && cusPassportid.touched">
              Passport ID should be number.
            </span>
          </div>
          <div class="form-group">
            <span class="text">Please check info carefully</span>
            <!--  && cusName.touched && cusAddress.touched && cusPassportid.touched -->
            <input *ngIf="!(cusName.errors?.required) && !(cusName.errors?.pattern) && !(cusAddress.errors?.required) && !(cusPassportid.errors?.required) && !(cusPassportid.errors?.pattern)"
                   type="button" class="btn btn-default" (click)="createCustomer(f)" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <form #f = "ngForm">
  <label>Name</label>
    <input type="text" name="name" [(ngModel)] = "selectedCustomer.name">
    <br>
    <label>Address</label>
    <input type="text" name="address" [(ngModel)] = "selectedCustomer.address">
    <br>
    <label>Passport ID:</label>
    <input type="text" name="passportid" [(ngModel)] = "selectedCustomer.passportid">
    <br>
    <input type="button" (click)="createCustomer(f)" value="Create a customer">
</form> -->

<!-- <form
  [formGroup]="form"
  (ngSubmit)="onSubmit(form.value)"
>
  <div id="basic-info">
    <div class="entry">
      <label for="name">
        Name:
      </label>
      <input id="name" type="text" formControlName="name">
    </div>

    <div class="entry">
      <label for="address">
        Address:
      </label>
      <input id="address" type="text" formControlName="address">
    </div>
    <div class="entry">
      <label for="passportId">
        Passport Id:
      </label>
      <input id="passportId" type="text" formControlName="passportId">
    </div>
   </div>
  <button type="submit">Submit</button>
  <button (click)="backToDashboard()">Back</button>
</form> -->
