<nav class="htmleaf-demo">
  <a routerLink="/basic-info">
    Obtain an Official Australian Police Check
  100% Online     Simple Application     Fast Result
</a>
</nav>
<button class="btn btn-default" [routerLink]="'/basic-info'">Start a Police Check</button>

<picture>
  <img src="../../assets/img/Police_Check_Online-Australian_N-2500.webp" alt="">
  <div class="description">
    <b>
          Obtain an Official Australian Police Check
    </b>
    <br />
    <b>
      100% Online     Simple Application     Fast Result
    </b>
  </div>
</picture>
