<div class="logo_holder">
  <img class="logo" src="../../assets/img/ANCC.png" alt="Australian National Character Check" (click)="onClick()" />
  <a (click)="onClick()"><h1>AUSTRALIAN NATIONAL CHARACTER CHECK</h1></a>
</div>
<header class="htmleaf-header">

  <div class="htmleaf-links">
    <a class="htmleaf-icon icon-htmleaf-home-outline" (click)="onClick()" title="Home" target="_blank"><span> Home</span></a>
    <a class="htmleaf-icon icon-htmleaf-arrow-forward-outline" (click)="clickAboutUs()" title="About Us" target="_blank"><span> ABOUT US</span></a>
  </div>
</header>
